* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h2 {
	text-align: center;
	padding: 15px;
	font-size: 3rem;
}
.container {
	height: 500px;
	width: 75%;
	border: 3px solid black;
	margin: 20px auto;
	div {
		height: 100px;
		width: 100px;
		background-color: rgb(33, 33, 33);
		color: white;
	}
}

.one {
	display: flex;
	justify-content: flex-end;
	position: relative;
	.div1 {
		position: absolute;
		left: 0;
	}
	.div2 {
		position: absolute;
		right: 110px;
	}
}

.two {
	display: flex;
	justify-content: space-between;
	.div5 {
		position: relative;
		top: 100px;
	}
	.div6 {
		position: relative;
		top: 200px;
	}
}

.three {
	.div7 {
		height: 200px;
		width: 200px;
		background-color: cadetblue;
		margin: auto;
		position: relative;
		top: 50px;
	}
	.div8 {
		position: relative;
		left: 45%;
		bottom: 100px;
	}
}
.four {
	display: flex;

	.div11 {
		background-color: rgb(79, 79, 79);
		position: relative;
		top: 50px;
		right: 50px;
	}
}

.five {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	.div14 {
		position: relative;
		top: 100px;
	}
	.div15 {
		position: relative;
		top: 200px;
	}
}

.six {
	position: relative;
	.div16 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 75%;
		height: 250px;
		background-color: rgb(128, 128, 128);
	}
	.div17 {
		position: absolute;
		bottom: 0;
		left: 25%;
	}
	.div18 {
		position: absolute;
		bottom: 30%;
		right: 0;
	}
}
.seven {
	display: flex;
	.div19 {
		height: 200px;
		width: 200px;
		background-color: rgb(102, 102, 102);
	}
	.div20 {
		position: relative;
		right: 100px;
		top: 100px;
	}
}
.eight {
	display: flex;
	.div22 {
		height: 200px;
		width: 200px;
		background-color: rgb(102, 102, 102);
	}
	.div23 {
		position: relative;
		right: 100px;
		top: 0px;
	}
}
.nine {
	display: flex;
	.div25 {
		height: 80%;
		width: 200px;
		background-color: rgb(102, 102, 102);
	}
	.div26 {
		position: absolute;
		left: 200px;
	}
	.div27 {
		position: relative;
		right: 150px;
		top: 59%;
	}
}
.ten {
	display: flex;
	position: relative;
	.div28 {
		width: 60%;
		height: 200px;
		background-color: rgb(102, 102, 102);
		position: relative;
		left: 20%;
		top: 20%;
	}
	.div29 {
		position: relative;
		right: 35%;
		top: 150px;
	}
	.div30 {
		position: relative;
		right: 6%;
		top: 150px;
	}
}
.eleven {
	.div31 {
		background-color: rgb(102, 102, 102);
		height: 80%;
		width: 200px;
	}
	.div32 {
		position: relative;
		bottom: 200px;
		height: 200px;
		width: 150px;
		left: 50px;
	}
	.div33 {
		background-color: rgb(213, 49, 49);
		position: relative;
		bottom: 305px;
		left: 90px;
	}
}
.tweleve {
	.div34 {
		background-color: rgb(102, 102, 102);
		height: 80%;
		width: 200px;
	}
	.div35 {
		position: relative;
		bottom: 200px;
		height: 200px;
		width: 150px;
		left: 125px;
	}
	.div36 {
		background-color: rgb(213, 49, 49);
		position: relative;
		bottom: 250px;
		left: 100px;
	}
}

.thirteen {
	display: flex;
	.div37 {
	}
	.div38 {
		position: relative;
		top: 50px;
		right: 50px;
		background-color: rgb(123, 123, 123);
	}
	.div39 {
		position: relative;
		top: 100px;
		right: 100px;
	}
	.div40 {
		position: relative;
		top: 150px;
		right: 150px;
		background-color: rgb(123, 123, 123);
	}
	.div41 {
		position: relative;
		top: 200px;
		right: 200px;
	}
}
